div.animacion{
    width: 80px;
    height: 80px;
    position: relative;
    background: green;

    /* Animaciones */
    animation: pepito 2s ease-in-out;
    animation-iteration-count: infinite;

}


@keyframes pepito {
    from{
        background: green;
    }
    to{
        background: red;
    }
}